{% extends "orders/base.html" %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  document.getElementbyId("order").style.display = hidden;

});

document.getElementbyId("Maindish").onclick() = () => {

    document.getElementbyId("toppings").style.display = None;

}

</script>
{% block title %}
  First page
{% endblock %}

{% block body %}
    <h1>Hello, {{ user.first_name }}</h1>
    <ul>
        <li>Currently logged in as: {{ user.username }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
<div>
    <a id = "order" href="{% url 'order' %}">Review and Pay</a>
</div>

<form>
    <div>
      <h2>Regular</h2>
        <select name="maindish">
          {% for dish in menu %}
            <option value="{{ dish.id }}">{{ dish }}</option>
          {% empty %}
            -----------
          {% endfor %}
        </select>
    </div>
    <input id="Maindish" type="submit" value="Add to Cart">
  </form>


  <form action="{% url 'cart' %}" method='post'>
    {% csrf_token %}
    <div id="Toppings">
      <h2>Toppings</h2>
        <select name="toppings">
          {% for topping in toppings %}
            <option value="{{ topping.id }}">{{ topping }}</option>
          {% empty %}
            ------------
          {% endfor %}
      <select>
    </div>
    <input type="submit" value="Add to Cart">
  </form>



{% endblock %}
