{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>First page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}">
  </head>

  <body>
    <div id="Regular">
      <h2>Regular</h2>
      <ol>
        {% for reg in regular %}
          <li>{{ reg }}</li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Silician">
      <h2>Silician</h2>
      <ol>
        {% for sil in silician %}
          <li>{{ sil }}</li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Subs">
      <h2>Subs</h2>
      <ol>
        {% for sub in subs %}
          <li>{{ sub }}</li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Pasta">
      <h2>Pasta</h2>
      <ol>
        {% for pas in pasta %}
          <li> {{ pas }} </li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Salads">
      <h2>Salads</h2>
      <ol>
        {% for salad in salads %}
          <li>{{ salad }}</li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="DinnerPlatters">
      <h2>DinnerPlatters</h2>
      <ol>
        {% for dinner in dinnerplatters %}
          <li> {{ dinner }} </li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Toppings">
      <h2>Toppings</h2>
      <ol>
        {% for topping in toppings %}
          <li>{{ topping }}</li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
