{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>First page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}">
  </head>

  <body>
    <div id="Regular">
      <h2>Regular</h2>
      <ol>
        {% for dish in menu %}
          {% if dish.category == "Regular Pizza"%}
            <li> {{ dish }} </li>
          {% endif %}
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Silician">
      <h2>Silician</h2>
      <ol>
        {% for dish in menu %}
          {% if dish.category == "Silician Pizza"%}
            <li> {{ dish }} </li>
          {% endif %}
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>

    <div id="Toppings">
      <h2>Toppings</h2>
      <ol id="top">
        {% for topping in toppings %}
          <li> {{ topping }} </li>
        {% empty %}
          Nothing here
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
